/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-forest {
  background-image: url(sprite.png);
  background-position: -48px -192px;
  width: 48px;
  height: 48px;
}
.icon-ico-codepen {
  background-image: url(sprite.png);
  background-position: -192px -48px;
  width: 48px;
  height: 48px;
}
.icon-ico-github {
  background-image: url(sprite.png);
  background-position: -48px -144px;
  width: 48px;
  height: 48px;
}
.icon-ico-instagram {
  background-image: url(sprite.png);
  background-position: -96px -144px;
  width: 48px;
  height: 48px;
}
.icon-ico-linkedin {
  background-image: url(sprite.png);
  background-position: -144px -144px;
  width: 48px;
  height: 48px;
}
.icon-ico-twitter {
  background-image: url(sprite.png);
  background-position: -192px 0px;
  width: 48px;
  height: 48px;
}
.icon-ico-vk {
  background-image: url(sprite.png);
  background-position: 0px -144px;
  width: 48px;
  height: 48px;
}
.icon-island {
  background-image: url(sprite.png);
  background-position: -192px -96px;
  width: 48px;
  height: 48px;
}
.icon-mountain {
  background-image: url(sprite.png);
  background-position: -192px -144px;
  width: 48px;
  height: 48px;
}
.icon-plains {
  background-image: url(sprite.png);
  background-position: 0px -192px;
  width: 48px;
  height: 48px;
}
.icon-sprite {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 192px;
  height: 144px;
}
.icon-swamp {
  background-image: url(sprite.png);
  background-position: -96px -192px;
  width: 48px;
  height: 48px;
}
